.featured {
  width: 100%;
  max-width: 1100px;
  display: flex;
  gap: 30px;

  > .featuredItem {
    color: white;
    position: relative;
    height: 300px;
    flex-grow: 1;
    border-radius: 10px;
    overflow: hidden;
    z-index: -1;

    > .featuredImg {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    > .featuredTitle {
      font-size: 1.1rem;
      position: absolute;
      bottom: 10px;
      left: 20px;
      z-index: 1;
    }
  }
}
