.mail {
  background-color: rgb(0, 53, 128);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: center;
  margin-top: 30px;
  padding: 40px;
  > h1 {
    font-size: 2.5rem;
  }
  > span {
    font-size: 1.2rem;
  }

  > .mailBox {
    margin-top: 10px;
    display: flex;
    align-items: center;
    > input {
      height: 40px;
      width: 300px;
      padding: 20px;
      font-size: 1.3rem;
      border: none;
      margin-right: 10px;
    }
    > button {
      width: 90px;
      outline: none;
      border: none;
      padding: 10px 0px;
      font-size: 1.1rem;
      cursor: pointer;
      background-color: lightblue;
    }
  }
}
