.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  > .listWrapper {
    display: flex;
    width: 100%;
    max-width: 1100px;
    gap: 40px;

    > .listSearch {
      position: sticky;
      top: 10px;
      flex: 1;
      background-color: rgb(254, 187, 2);
      border-radius: 10px;
      padding: 15px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      height: max-content;

      > .listSearchPlaces {
        display: flex;
        flex-direction: column;
        gap: 5px;
        position: relative;
        cursor: pointer;

        > .daterangepicker {
          position: absolute;
          top: 65px;
          left: -50px;
        }
        > .datepicker {
          width: 100%;
          background-color: white;
          height: 40px;
          display: flex;
          align-items: center;
          outline: 1px solid black;
          font-size: 1.2rem;
          &:hover {
            border: 2px solid black;
            border-radius: 5px;
          }
        }

        > input {
          width: 100%;
          height: 20px;
          padding: 18px 5px;
          font-size: 1.2rem;
        }
      }

      > .listSearchOptions {
        margin-top: 5px;

        > .listSearchOptionsItems {
          font-weight: 100;
          margin-top: 15px;
          display: flex;
          justify-content: space-between;

          > input {
            width: 60px;
            height: 30px;
          }
        }
      }

      > button {
        width: 100%;
        height: 40px;
        background-color: rgb(0, 113, 194);
        outline: none;
        border: none;
        font-size: 1.1rem;
        font-weight: 700;
        color: white;
        margin-top: 10px;
      }
    }

    > .listResult {
      flex: 3.5;
    }
  }
}
