.footer {
  display: flex;
  width: 100%;
  max-width: 1100px;
  padding: 30px 0px;
  margin-bottom: 10px;

  > .footerBox {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: rgba(140, 140, 145, 0.843);
  }
}

.footercopyright {
  margin-bottom: 20px;
}
