.pList {
  width: 100%;
  max-width: 1100px;
  margin-top: 30px;
  display: flex;
  gap: 20px;

  > .pListItem {
    flex: 1;

    overflow: hidden;
    border-radius: 10px;

    > .pListImg {
      width: 100%;
      height: 150px;
    }

    > .pListTitle {
      margin-left: 5px;
      h1 {
        color: rgb(66, 64, 64);
        font-size: 1.4rem;
      }

      > span {
        color: rgba(0, 0, 0, 0.724);
      }
    }
  }
}
