.fp {
  width: 100%;
  max-width: 1100px;
  display: flex;
  margin-top: 30px;
  gap: 20px;

  > .fpItem {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 13px;
    > img {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }

    > span.fpTitle {
      font-size: 1.3rem;
      font-weight: 700;
    }

    > span.fppara {
      font-size: 1.2rem;
      font-weight: 500;
      color: rgba(132, 132, 222, 0.77);
    }

    > .fprating {
      display: flex;
      gap: 10px;
      align-items: center;
      > button {
        outline: none;
        border: none;
        padding: 5px;
        background-color: blue;
        color: white;
        font-weight: 700;
      }

      > span {
        font-size: 1.1rem;
      }
    }
  }
}
