.SearchItem {
  border: 1px solid rgba(128, 128, 128, 0.58);
  display: flex;
  padding: 10px;
  gap: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  > img {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }

  > .siDesc {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 2;

    > h1.siTitle {
      color: blue;
      font-size: 1.5rem;
    }

    > .siFair {
      background-color: green;
      width: fit-content;
      padding: 3px;
      border-radius: 5px;
    }

    > .sisubTitle {
      font-weight: 700;
    }

    > .siCancelOp,
    .siCancelOpSubTitle {
      color: green;
      font-size: 0.9rem;
    }

    > .siCancelOp {
      font-size: 1.2rem;
    }
  }

  > .siDetails {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    > .siDetailsTop {
      display: flex;
      justify-content: space-between;

      > span {
        font-size: 1.1rem;
      }

      > button {
        border: none;
        padding: 5px;
        font-weight: 700;
        color: white;
        background-color: rgb(0, 53, 128);
      }
    }
    > .siDetailsBottom {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 6px;
      > .price {
        font-size: 1.7rem;
        text-align: left;
      }
      > .text {
        color: grey;
      }

      > button {
        width: 100%;
        height: 40px;
        font-size: 1.05rem;
        border-radius: 5px;
        border: none;
        background-color: rgb(0, 113, 194);
        color: white;
      }
    }
  }
}
