.hotleContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;

  > .slider {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(211, 211, 211, 0.439);
    display: flex;
    align-items: center;

    > .sliderWraper {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      > .sliderImage {
        width: 80%;
        height: 80vh;
      }
    }

    > .close {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 50px;
      color: lightgray;
      cursor: pointer;
    }

    > .arrow {
      margin: 20px;
      font-size: 60px;
      color: lightgray;
      cursor: pointer;
    }
  }

  > .hotelWrapper {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    > .hoteltop {
      display: flex;
      justify-content: space-between;

      align-items: center;
      > .hotelAddress {
        display: flex;
        flex-direction: column;
        gap: 10px;
        > h1 {
          font-size: 1.7rem;
        }

        > .location {
          > span {
            margin-left: 10px;
          }
        }

        > .hotelDistance {
          font-size: 1.1rem;
          color: rgb(0, 153, 255);
        }
        > .hotelBooking {
          font-size: 1.1rem;
          color: green;
        }
      }

      > button {
        width: 200px;
        height: 38px;
        font-size: 1.05rem;
        border-radius: 5px;
        background-color: rgb(0, 113, 194);
        color: white;
        border: none;
        outline: none;
      }
    }

    > .hotelMiddle {
      display: flex;
      flex-wrap: wrap;

      gap: 8px;
      > .hotelImageWrapper {
        > .hotelImg {
          width: 360px;
          height: 234px;
          object-fit: cover;
        }
      }
    }

    > .hotelBottom {
      display: flex;
      margin-top: 15px;
      gap: 30px;

      > .left {
        flex: 3;

        > h1 {
          font-size: 1.8rem;
        }

        > p {
          margin-top: 20px;
          text-align: justify;
        }
      }

      > .right {
        background-color: rgb(235, 243, 255);
        flex: 1;

        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        > h1 {
          font-size: 1.4rem;
        }

        > .price {
          font-size: 1.3rem;
        }

        > button {
          margin-top: 10px;
          border: none;
          padding: 10px;
          background-color: rgb(0, 113, 194);
          border-radius: 5px;
          color: white;
        }
      }
    }
  }
}
