.navbar {
  height: 50px;
  background-color: rgb(0, 53, 128);
  display: flex;
  justify-content: center;

  > .navContainer {
    color: white;
    padding: 0px 10px;
    font-size: 1.1rem;
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;

    > .navItems {
      > .navButton {
        margin-right: 15px;
        padding: 5px 10px;
        color: black;
        border: none;
        font-size: 1rem;
        font-weight: 100;
        cursor: pointer;
      }
    }
  }
}
